.logo-area {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #3f51b5;
  width: 100%;
  .logo {
    max-width: 896px;
    margin: auto;
    h1 {
      padding: 8px 0px 8px 140px;
      margin-bottom: 0px;
      color: white;
    }
    @media (max-width: 640px){
      h1 {
        padding: 8px 70px 8px 70px;
      }
    }
    @media (max-width: 400px){
      h1  {
        padding: 8px 35px 8px 35px;
      }
    }
  }
}

.page-wrapper {
  max-width: 896px;
  margin: auto;
  border: none;
  .page-body {
    padding: 80px 140px 0 140px;
  }
  @media (max-width: 640px){
    .page-body {
      padding: 80px 70px 0 70px;
    }
  }
  @media (max-width: 400px){
    .page-body {
      padding: 80px 35px 0 35px;
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
